*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
header{
    background: #141719;
    display: flex;
    padding: 0 10%;
    align-items: center;
}
header a{
    width: 20%;
    text-align: center;
}
header nav{
   flex-basis: 70%;
}

header a img {
    width: 90px;
    position: relative;
    top: 3px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul li{
    position: relative;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 0 5px;
}
header nav ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 106%;
    left: 0;
}

.main-section{
    height:120vh;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.main-section .content{
    border: 1px solid tomato;
    width: 75%;
    
}
.main-section .side-bar{
    border: 1px solid tomato;
    width: 20%;
}

.content{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: 1;
}
.content .box-line1{
    width: 30%;
    height: 200px;
    border: 1px solid green;
    margin-bottom: 20px;
}
.content .box-line1 span{
    padding: 20px 10px;
    color: #fff;
    background: red;
    display: inline-block;
}
.content .box1{}
.content .box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .box3{
    display: flex;
    align-items: end;
    justify-content: end;
}
.content .box4{
    width: 24%;
}
.content .box5{
    width: 48%;
}
.content .box6{
    width: 24%;
}
.pd{
    padding: 20px;
}
.pd7{
    padding: 20px 5px;
}

.content .box7{
    width: 28%;
    height: 150px;
}
.content .box8{
    width: 38%;
    height: 150px;
    justify-content: start;

}
.content .box9{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
   
}
.content .box-line1 .box9 .item2{
    align-items: center;
    display: flex;
    display: inline-block;
}
.content .box9 span{
    padding: 10px 20px;
}
.content .box7 span{
  padding: 5px 10px;
}
.content .box8 span{
  padding: 5px 10px;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
}
.main-section .side-bar{
    background: #d2d2d2;
    padding: 20px;
}
.main-section .side-bar img{
    margin: 10px 0;
}

footer{
    background: #141719;
    padding: 10px 0;
}
footer ul{
    display: flex;
    justify-content: center;
    
}
footer ul li{
    position: relative;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
    display: inline-block;
    
}
.content .box-line1 .box9{
    display: flex;
}
footer ul li::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    top: 100%;
    left: 11px;
    background: rgb(255, 255, 255);
}

